
<nav>
        <div class="menu1">

                <ul>
                    <li><a asp-controller="Home" asp-action="Index" class="active"  href='@Url.Action("Index","Home")'>Home</a></li>
                </ul>
                <ul>
                    <li><a  asp-controller="Como_Funciona" asp-action="Index" class="active" href='@Url.Action("Index","Como_Funciona")'>Como funciona</a></li>
                </ul>
                <ul>
                    <li><a asp-controller="Servico" asp-action="Index" class="active" href='@Url.Action("Index","Servico")'>serviço</a></li>
                </ul>
                <ul>
                    <li><a asp-controller="Quem_Somos" asp-action="Index" class="active" href='@Url.Action("Index","Quem_Somos")'>Quem somos</a></li>
                </ul>
                <ul>
                    <li><a asp-controller="Duvidas" asp-action="Index" class="active" href='@Url.Action("Index","Duvidas")'>Duvidas</a></li>
                </ul>
                <ul>
                    <li><a asp-controller="Cadastro" asp-action="Index" class="active" href='@Url.Action("Index","Cadastro")'>Cadastro</a></li>
                </ul>
                
                <ul>
                    <li><a asp-controller="Login" asp-action="Index" class="active" href='@Url.Action("Index","Login")'>Login</a></li>
                </ul>
            </div>
    </nav>